@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.container {
  width: 1155px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 64px 0px;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-logo {
  width: 196px;
  height: 24px;
  display: block;
}
.header .header-logo:hover {
  opacity: 0.8;
}
.header .header-logo:active {
  opacity: 0.6;
}
.header .header__nav {
  white-space: nowrap;
}
.header .nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .nav__item + .nav__item {
  margin-left: 42px;
}
.header .nav__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #333136;
  transition: all 0.4s ease;
}
.header .nav__link:hover {
  text-decoration-line: underline;
}
.header .nav__link:active {
  opacity: 0.6;
}
.header .burger-btn {
  display: none;
  width: 24px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../img/header-burger.svg");
}
.header .burger-btn:hover {
  opacity: 0.8;
}
.header .burger-btn:active {
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
  .header .header-logo {
    width: 202px;
    height: 27px;
  }
}
@media only screen and (max-width: 625px) {
  .header {
    position: relative;
  }
  .header .header__nav {
    display: none;
  }
  .header .burger-btn {
    display: inline-block;
  }
  .header--open .header__nav {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    z-index: 11;
    padding: 30px 50px 30px 50px;
    background: #1d1c1e;
  }
  .header--open .nav__list {
    flex-direction: column;
    align-items: start;
  }
  .header--open .nav__item {
    margin-left: 0px;
    margin-bottom: 32px;
  }
  .header--open .nav__item:last-child {
    margin-bottom: 0px;
  }
  .header--open .nav__item + .nav__item {
    margin-left: 0px;
  }
  .header--open .nav__link {
    color: #ffffff;
  }
  .header--open .burger-btn {
    width: 20px;
    height: 20px;
    background-image: url("../../img/header-birger-x.svg");
    background-repeat: no-repeat;
  }
}
.hero {
  padding: 145px 0 145px 95px;
  border-radius: 15px;
  background: #E7816B;
  background-image: url("../assets/img/home-hero.png");
  background-repeat: no-repeat;
  margin-bottom: 160px;
}
.hero h1 {
  max-width: 100%;
  width: 540px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 11px;
}
.hero p {
  max-width: 100%;
  width: 445px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.hero a {
  padding: 18px 25px;
  border-radius: 8px;
  background: #FFF;
  color: #333136;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero a:active {
  border-radius: 8px;
  background: #FFAD9B;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}
.content h3 {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.content a {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.content-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 541px;
  height: 640px;
  border-radius: 15px;
  background: #000;
  background-image: url("../../assets/img/home-content_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
}
.content-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 541px;
  height: 308px;
  border-radius: 15px;
  background: #000;
  background-image: url("../../assets/img/home-content_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}
.content-box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 541px;
  height: 308px;
  border-radius: 15px;
  background: #000;
  background-image: url("../../assets/img/home-content_3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  margin-bottom: 160px;
}
.home-list-item {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-list-item h5 {
  margin-top: 48px;
  color: #333136;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  margin-bottom: 32px;
}
.home-list-item p {
  color: #333136;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.site-hero-top {
  padding: 64px 0 38px 0;
  text-align: center;
  margin-bottom: 160px;
  border-radius: 15px;
  background: #E7816B;
  background-image: url("../../assets/svg/site-hero-top-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.site-hero-top h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  font-family: "Jost";
  color: #FFF;
  line-height: 48px;
  margin-bottom: 24px;
}
.site-hero-top p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: "Jost";
  width: 350px;
  margin: 0 auto;
  color: #FFF;
  line-height: 26px;
}

.footer {
  position: relative;
  padding: 144px 0px 72px 0px;
  background: #1d1c1e;
}
.footer .footer-talk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -200px;
  width: 1111px;
  background: #e7816b;
  border-radius: 15px;
  padding: 72px 95px 46px 95px;
  background-image: url("../../img/talk-oval.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}
.footer .footer-talk .talk__header {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}
.footer .footer-talk .talk__desc {
  margin: 0;
  max-width: 459px;
  font-weight: normal;
  line-height: 26px;
  color: #ffffff;
}
.footer .footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer__logo {
  width: 202px;
  height: 27px;
}
.footer .footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .footer-nav__item + .footer-nav__item {
  margin-left: 42px;
}
.footer .footer-nav__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.footer .footer-nav__link:hover {
  text-decoration-line: underline;
}
.footer .footer-nav__link:active {
  opacity: 0.6;
}
.footer .footer__box-buttom {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.footer .footer__box-left {
  display: flex;
}
.footer .footer__desc {
  margin: 0;
  width: 350px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer .footer__desc + .footer__desc {
  margin-left: 30px;
}
.footer .footer__list-buttom {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .footer-list__item + .footer-list__item {
  margin-left: 16px;
}
.footer .footer-list__link {
  text-decoration: none;
}
.footer .footer-list__link:hover {
  opacity: 0.8;
}
.footer .footer-list__link:active {
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */