@import "./header.scss";
@import "./hero.scss";
@import "./home-content.scss";
@import "./home-list.scss";
@import "./site-hero-top.scss";
@import "./web-list.scss";
// to lists

@import "./footer.scss";