.site-hero-top {
    padding: 64px 0 38px 0;
    text-align: center;
    margin-bottom: 160px;
    border-radius: 15px;
    background: #E7816B;

    background: {
        image: url('../../assets/svg/site-hero-top-bg.svg');
        size: cover;
        repeat: no-repeat;
    }

    h1 {
        font: {
            size: 48px;
            style: normal;
            weight: 500;
            family: 'Jost';
        }

        color: #FFF;
        line-height: 48px;
        margin-bottom: 24px;
    }

    p {
        font: {
            size: 16px;
            style: normal;
            weight: 400;
            family: 'Jost';
        }

        width: 350px;
        margin: 0 auto;
        color: #FFF;
        line-height: 26px;
    }
}