.web-list {
    width: 1071px;
    margin-top: 200px;

    &-table {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 32px;
    }

    &-item {
        width: 350px;
        height: 478px;
        border-radius: 15px;
        background: #FDF3F0;
        transition: all 1 ease;

        // &-a:active {
        //     background: #E7816B;
        //     transition: all 1 ease;
        // }

        &-box {
            padding: 32px;
        }

        &-box>h2 {
            color: #E7816B;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 5px;
            margin-bottom: 10px;

        }

        // &-box>h2:active {
        //     color: #FFF;
        // }

        &-box>p {
            color: #333136;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        // &-box>p:active {
        //     color: #FFF;
        // }

        &:active{
            background: #E7816B;
            
            h2 {
                color:white;
            }

            p {
                color: white;
            }
        }
    }

    &-item>img {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 350px;
    }
}